<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-title-bold"> Mis Tareas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Almacenar diferentes elementos
Imagenes, Inputs, Botones o Formularios-->
  <ion-item>
    <!-- Por defecto los inputs ya son de tipo text 
    Y siempre se recomienda agragarle un nombre -->
    <ion-input
      type="text"
      placeholder="Nueva Tarea"
      name="task"
      /* Tow-Way Binding (Enlace Bidirecional) */
      [(ngModel)]="task"
    />
    <ion-button (click)="addTask()" [disabled]="!task">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>
  @if(tasks.length == 0) {
  <ion-item class="ion-text-center" lines="none">
    <ion-label>No Hay Tareas Pendientes</ion-label>
  </ion-item>
  } @else {
    <!-- ion-list: Contenedor de elementos de lista -->
  <ion-list>
    <!-- track task: Le indica a Angular cómo identificar 
     cada elemento para poder actualizar el DOM (Document Object Model) de forma 
     eficiente. Si agregas o quitas una tarea, Angular 
     sabe cuáles filas ya existían y solo crea o elimina 
     las necesarias, en lugar de redibujar toda la lista -->

     <!-- 
     task of tasks: Recorre el arreglo de tareas y por cada
     elemento crea un ion-item con el nombre de la tarea 
     -->

     <ion-reorder-group [disabled] = "false" (ionItemReorder) = "orderTasks($any($event))">
    @for (task of tasks; track task) {
      <ion-item-sliding>
    <ion-item>
      <ion-label> {{task}} </ion-label>
      <ion-reorder/>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="confirmDeleteTask(task)">
        <ion-icon slot="icon-only" name="trash-outline"/>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
    }
    </ion-reorder-group>
  </ion-list>
  }
</ion-content>
